<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>电影评论情感分析</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>


    <!-- Header -->
    <header class="pt2 pb1 align--center">
        <div class="container">
            <p>Our project presentation</p>
            <h1 title="Movies">电影评论情感分析</h1>
        </div>
    </header>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <h3>千与千寻</h3>
                    <p style="font-size: 20px;">
                        导演: 宫崎骏<br />
                        主演: 柊瑠美 | 入野自由 <br />
                        类型: 剧情 | 动画 | 奇幻<br />
                        上映日期: 2019-06-21(中国大陆)
                    </p>
                    <p style="font-size: 20px;">演职人员：<a href="spirited_away/1" class="button">宫崎骏厉害</a></p>
                    <p style="font-size: 20px;">电影人物：<a href="spirited_away/2" class="button">白龙帅</a>
                                <a href="spirited_away/3" class="button">白龙温柔</a>
                                <a href="spirited_away/4" class="button">老鼠可爱</a>
                                <a href="spirited_away/5" class="button">小千可爱</a>
                    </p>
                    <p style="font-size: 20px;">影片：<a href="spirited_away/6" class="button">故事感人</a>
                            <a href="spirited_away/7" class="button">画面唯美</a>
                            <a href="spirited_away/8" class="button">画质清晰</a>
                            <a href="spirited_away/9" class="button">结尾仓促</a>
                            <a href="spirited_away/10" class="button">剧情紧凑</a>
                            <a href="spirited_away/11" class="button">片尾曲好听</a>
                            <a href="spirited_away/12" class="button">情节曲折</a>
                            <a href="spirited_away/13" class="button">想象力丰富</a>
                            <a href="spirited_away/14" class="button">音乐好听</a>
                            <a href="spirited_away/15" class="button">寓意深刻</a>
                    </p>
                </div>
                <!-- nezha -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/nezha.jpg' %}" alt="哪吒">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <h3>哪吒之魔童降世</h3>
                    <p style="font-size: 20px;">
                        导演: 饺子<br />
                        主演: 吕艳婷 | 囧森瑟夫 | 瀚墨 <br />
                        类型: 剧情 | 喜剧 | 动画 | 奇幻<br />
                        上映日期: 2019-07-26(中国大陆)
                    </p>
                    <p style="font-size: 20px;">电影人物：<a href="NeZha/1" class="button">敖丙帅</a></p>
                                <a href="NeZha/2" class="button">哪吒帅</a>

                    </p>
                    <p style="font-size: 20px;">影片：<a href="NeZha/3" class="button">动作流畅</a>
                            <a href="NeZha/4" class="button">感触深</a>
                            <a href="NeZha/5" class="button">画面精美</a>
                            <a href="NeZha/6" class="button">剧情紧凑</a>
                            <a href="NeZha/7" class="button">剧情精彩</a>
                            <a href="NeZha/8" class="button">泪点多</a>
                            <a href="NeZha/9" class="button">内容丰富</a>
                            <a href="NeZha/10" class="button">情节生动</a>
                            <a href="NeZha/11" class="button">台词幽默</a>
                            <a href="NeZha/12" class="button">形象饱满</a>
                            <a href="NeZha/13" class="button">性格鲜明</a>
                            <a href="NeZha/14" class="button">寓意深刻</a>
                    </p>

                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


