<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|演职人员</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>演职人员：<a href="1" class="button" style="background-color: #CAFFFF">宫崎骏厉害</a></p>
                    <ul style="font-size: 16px">
                        <li>宫崎骏真的很厉害！千寻也很勇敢！今天观影不错！👍👍！</li>
                        <li>好看到爆阿 宫崎骏厉害</li>
                        <li>每次看感受都不一样，宫崎骏真的厉害！</li>
                        <li>以前没看过，完全就是为了那个歌，真的很好听，看这个还是得看原版的，还好没有看配音的听别人说很稀烂，还能学几句日语。</li>
                        <li>很细致很唯美，宫崎骏厉害了</li>
                        <li>完美，宫崎骏最棒</li>
                        <li>非常好看，神奇之旅，孩子很喜欢，对于一个成年人来说，感觉也超棒，宫崎骏真棒。</li>
                        <li>宫崎骏的确了不起，这部片子除了结尾略显仓促外，包含元素之多之广令人咋舌。只是，真的欣赏不了了。再见，宫崎骏。</li>
                        <li>福地的椅子很舒服，画面好，虽是动画片非常耐人思考，宫崎骏真的很了不起</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


