<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|影片</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited2.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>影片：<a href="6" class="button">故事感人</a>
                            <a href="7" class="button">画面唯美</a>
                            <a href="8" class="button">画质清晰</a>
                            <a href="9" class="button">结尾仓促</a>
                            <a href="10" class="button"  style="background-color: #CAFFFF">剧情紧凑</a>
                            <a href="11" class="button">片尾曲好听</a>
                            <a href="12" class="button">情节曲折</a>
                            <a href="13" class="button">想象力丰富</a>
                            <a href="14" class="button">音乐好听</a>
                            <a href="15" class="button">寓意深刻</a>
                    </p>
                    <ul style="font-size: 16px">
                        <li>好看|孩子刚开始看的时候有点儿害怕，后来还是挺好的，剧情挺紧凑的，没看过原版，感觉配音也挺好的。</li>
                        <li>非常好看！虽然片长，但剧情尤其紧凑，全不拖拉。感情刻画很好。作画也非常精细。极其推荐！</li>
                        <li>看起来不错，剧情紧凑精彩，有点小小的恐怖。</li>
                        <li>好看，剧情紧凑，全程没有尿点。</li>
                        <li>还不错，有温暖的前段，剧情紧凑。</li>
                        <li>超好看的动画，立意深刻，剧情紧凑，画面优美，动画制作精良，不愧是双奖动画大片，带着孩子看后，心里满满的感动，被千寻的善良，真诚，友好，坚强，不抛弃不放弃的人格打动。被白龙和千寻的互相帮助的真情打动。成人世界的贪婪讨好虚伪和千寻对比后，突然觉得最真最纯的东西最难得！</li>
                        <li>还不错，整个剧情很紧凑</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


