<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|影片</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited2.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>影片：<a href="6" class="button">故事感人</a>
                            <a href="7" class="button">画面唯美</a>
                            <a href="8" class="button">画质清晰</a>
                            <a href="9" class="button">结尾仓促</a>
                            <a href="10" class="button">剧情紧凑</a>
                            <a href="11" class="button" style="background-color: #CAFFFF">片尾曲好听</a>
                            <a href="12" class="button">情节曲折</a>
                            <a href="13" class="button">想象力丰富</a>
                            <a href="14" class="button">音乐好听</a>
                            <a href="15" class="button">寓意深刻</a>
                    </p>
                    <ul style="font-size: 16px">
                        <li>童年补票，片尾曲很好听。认真看完，电影里讽刺的画面挺多的，比如白龙对汤婆婆说她最珍贵的东西已经被掉包，汤婆婆第一时间看的不是宝宝而是金子，我觉得有点反讽现在很多对孩子口头溺爱的家长，张口为了孩子闭口孩子最重要，但是却会因为金钱利益忽视孩子的存在…还是值得一看的。</li>
                        <li>好听！真棒！不要回头，一直向前走！</li>
                        <li>这一次看又有了一些新体会、新感悟，片尾曲特别好听！我们母女三人最后离开电影厅</li>
                        <li>很是奈斯哦。。片尾曲超好听的~</li>
                        <li>能看见千寻一点点变得勇敢，画面很美，片尾曲很好听，背景音乐也是</li>
                        <li>国语配音不好听，想看原声的没有合适的时间，不过片尾曲真的很好听很好听，特别喜欢</li>
                        <li>宫崎骏的动漫真棒👍 片尾曲超好听。</li>
                        <li>很好看，片尾曲超好听！！！</li>
                        <li>很喜欢，片尾曲也好听</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


