<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|影片</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited2.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>影片：<a href="6" class="button">故事感人</a>
                            <a href="7" class="button">画面唯美</a>
                            <a href="8" class="button">画质清晰</a>
                            <a href="9" class="button">结尾仓促</a>
                            <a href="10" class="button">剧情紧凑</a>
                            <a href="11" class="button">片尾曲好听</a>
                            <a href="12" class="button">情节曲折</a>
                            <a href="13" class="button" style="background-color: #CAFFFF">想象力丰富</a>
                            <a href="14" class="button">音乐好听</a>
                            <a href="15" class="button">寓意深刻</a>
                    </p>
                    <ul style="font-size: 16px">
                        <li>想象力很丰富，但是结尾感觉太突兀，有些事还没交代清楚，比如无脸人是谁，白龙怎么样了，等等</li>
                        <li>作家想象力丰富，富有童真。故事里的千与千寻非常勇敢，很重亲情也很善良。这部电影的画面感很强👍</li>
                        <li>18年的感动，吉卜力工作室的想象力怎么可以这么丰富，而且从宫崎骏爷爷的动画里能看到他对现代社会与自然共存的思考，好棒的电影</li>
                        <li>想象力丰富 宫崎骏的感觉很足</li>
                        <li>哇这部电影真的好棒啊！！想象力超丰富！！好想生活在那样风景优美的世界里！！</li>
                        <li>还是那么吸引人，还是触动心灵的深处。想象力丰富，带我们去了另外一个世界</li>
                        <li>好看，想象力太丰富了，寓意深刻</li>
                        <li>第一次在电影院看宫崎骏的动画电影，配上久石让的音乐，太美了！想象力丰富，另一个世界的感觉，像很多日本艺术给人的感觉，又美丽又哀伤</li>
                        <li>非常棒的一部电影，想象力丰富，我小的时候就看过，非常喜欢！现在，我带着我的孩子来看这部电影！电影中有很多的画面和深意值得我和孩子一起去探讨！</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


