<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|电影人物</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>电影人物：<a href="2" class="button" style="background-color: #CAFFFF">白龙帅</a>
                                <a href="3" class="button">白龙温柔</a>
                                <a href="4" class="button">老鼠可爱</a>
                                <a href="5" class="button">小千可爱</a>
                    <ul style="font-size: 16px">
                        <li>再次回忆童年了。白龙真的好帅啊，感觉和女主都不是一个画风了。千寻的神隐之路也是寻找之路，救赎和被救赎，善良报以善良，勇敢和成长，这都是宫崎骏带来的感动。成人的世界那么复杂，孩子的世界有一片广阔绿地足以。宫崎骏永远能把社会融于幻想，将油滑世俗粉饰得轻松可爱，真的是难以超越的。</li>
                        <li>非常棒，超超超级级好看！推荐！还有，白龙太帅了！很好玩，很感动，又有些小伤感。</li>
                        <li>可以重温几遍的电影，再看一遍还会有新的体会。白龙好帅！</li>
                        <li>很有小时候的感觉，很温馨，白龙好帅</li>
                        <li>羡慕千寻的勇敢，有些可惜到白龙和千寻的结局，不过，这才是很真实的结局。白龙真的帅炸了，然后很喜欢无脸男，觉得更有共鸣吧。最后，如果我的父母被变成🐷之后，我不晓得我能不能在十头一模一样🐷中认出他们</li>
                        <li>白龙真的太帅了，在白龙身上仿佛看到了哈尔的影子，这大概就是宫崎骏动画的特点吧，结尾白龙和千寻没有一起离开感觉有点遗憾，不过或许这就是成长吧，锅炉爷爷和小玲对千寻的帮助也很感动，每个人物都有优点与缺点，人无完人或许就是这样的</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


