<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|电影人物</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>电影人物：<a href="2" class="button">白龙帅</a>
                                <a href="3" class="button" style="background-color: #CAFFFF">白龙温柔</a>
                                <a href="4" class="button">老鼠可爱</a>
                                <a href="5" class="button">小千可爱</a>
                    <ul style="font-size: 16px">
                        <li>白龙太温柔了，我哭了。|电车那里，真的就像《铁道银河之夜》一样，温柔唯美又忧伤，哭了。</li>
                        <li>我们的白龙很温柔，无脸男的陪伴很暖心</li>
                        <li>白龙好温柔啊！(´-ω-`)</li>
                        <li>太好看了吧！！！白龙也太温柔了。哭泣！</li>
                        <li>长大以后再重温填补了一些小时候的记忆空白，白龙真的太温柔了，小时候没看懂白龙和千寻，现在一看我也想拥有一个白龙那样的男朋友嘻嘻，千寻很勇敢，即像我又不像我，我没那么勇敢也比她多了些不坦诚多了些世故，所以我喜欢她。</li>
                        <li>好看！景色好棒，去钱婆婆家，漂亮的星空，真的很细致了。白龙也好温柔，声音好好听。</li>
                        <li>好看的，井柏然配的白龙很温柔，周冬雨配的千寻也少女感十足，差异的是彭彭配的无脸男，挺好的。</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


