<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|电影人物</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>电影人物：<a href="2" class="button">白龙帅</a>
                                <a href="3" class="button">白龙温柔</a>
                                <a href="4" class="button" style="background-color: #CAFFFF">老鼠可爱</a>
                                <a href="5" class="button">小千可爱</a>
                    <ul style="font-size: 16px">
                        <li>很好看啊，小老鼠可可爱。</li>
                        <li>好看好看，似乎看到了一个从害怕胆小的小女孩变成了一个独立学会承担责任的女孩。从她身上我学到了这种品质。   白龙真的好帅啊，小老鼠也好可爱</li>
                        <li>小老鼠可爱爆了</li>
                        <li>小老鼠很可爱啊</li>
                        <li>很好看，而且最后很感人，千寻为了白龙所做出的一切，以及那个小老鼠实在太可爱了！</li>
                        <li>哈哈哈哈哈哈老鼠可爱</li>
                        <li>小老鼠太可爱了！</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


