<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|电影人物</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>电影人物：<a href="2" class="button">白龙帅</a>
                                <a href="3" class="button">白龙温柔</a>
                                <a href="4" class="button">老鼠可爱</a>
                                <a href="5" class="button" style="background-color: #CAFFFF" >小千可爱</a>
                    <ul style="font-size: 16px">
                        <li>小千很可爱、很善良。</li>
                        <li>第一次看这个电影，小千好可爱啊！</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


