<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|影片</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited2.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>影片：<a href="6" class="button" style="background-color: #CAFFFF">故事感人</a>
                            <a href="7" class="button">画面唯美</a>
                            <a href="8" class="button">画质清晰</a>
                            <a href="9" class="button">结尾仓促</a>
                            <a href="10" class="button">剧情紧凑</a>
                            <a href="11" class="button">片尾曲好听</a>
                            <a href="12" class="button">情节曲折</a>
                            <a href="13" class="button">想象力丰富</a>
                            <a href="14" class="button">音乐好听</a>
                            <a href="15" class="button">寓意深刻</a>
                    </p>
                    <ul style="font-size: 16px">
                        <li>画风很好看，故事很感人，配乐很好听❤️</li>
                        <li>一定要评论一下，很好看，制作精良，故事感人</li>
                        <li>故事超级感人，然后是一种回忆。</li>
                        <li>还是日语版的原汁原味❤️ 真的好好看！！！故事很感人，细节也很棒！</li>
                        <li>很好的影片，画质精美，给人美的享受。细节处见精神，用心之作，值得借鉴学习。故事也很感人，寓意深远。</li>
                        <li>画面唯美，故事感人，挺有教育意义，值得观看！</li>
                        <li>重温，画面很美，故事感人。</li>
                        <li>虽然看了很多遍了，但是依然喜欢！画面唯美！故事感人！</li>
                        <li>看我好几遍，画面唯美，每一帧就可以做屏保的感觉，故事感人</li>
                        <li>画面优美，故事感人，内涵丰富。值得二刷</li>
                        <li>故事感人  有些东西只能是美好的回忆</li>
                        <li>不错，故事很感人哦</li>
                        <li>制作精良，故事感人</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


