<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|影片</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited2.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>影片：<a href="6" class="button">故事感人</a>
                            <a href="7" class="button" style="background-color: #CAFFFF">画面唯美</a>
                            <a href="8" class="button">画质清晰</a>
                            <a href="9" class="button">结尾仓促</a>
                            <a href="10" class="button">剧情紧凑</a>
                            <a href="11" class="button">片尾曲好听</a>
                            <a href="12" class="button">情节曲折</a>
                            <a href="13" class="button">想象力丰富</a>
                            <a href="14" class="button">音乐好听</a>
                            <a href="15" class="button">寓意深刻</a>
                    </p>
                    <ul style="font-size: 16px">
                        <li>影片超级赞。小学就看过，但听到要上映，还是开心的不行。|影片很好，画面都很唯美，色彩漂亮。特别是坊宝宝的声音很好听嗳。😍😍每一个角色都特别好，。|还有现代化元素，男朋友，哈哈哈|笔芯笔芯</li>
                        <li>故事情节动人，画面唯美。一直没有看过只听说过各种媒介看过点花絮今天终于看全了很赞👍</li>
                        <li>满满的期待，超级喜欢，每个画面都好唯美。</li>
                        <li>画面很唯美，每一帧都是一幅画，演员的配音也很有代入感～</li>
                        <li>电影画面特别唯美！千寻战胜了自己恐惧，内心强大，勇敢面对一切拯救父母，特别感人。小孩也特别喜欢观看，让孩子内心也变的勇敢。</li>
                        <li>画面很唯美，故事情节很有深意也很感人，也有一种童年的情怀✨</li>
                        <li>能体现人性之美。情节设计合理，环环紧扣。音乐与镜头的画面都很唯美！</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


