<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>千与千寻|影片</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/spirited2.jpg' %}" alt="千与千寻">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">千与千寻</a>
                    <p>影片：<a href="6" class="button">故事感人</a>
                            <a href="7" class="button">画面唯美</a>
                            <a href="8" class="button">画质清晰</a>
                            <a href="9" class="button" style="background-color: #CAFFFF">结尾仓促</a>
                            <a href="10" class="button">剧情紧凑</a>
                            <a href="11" class="button">片尾曲好听</a>
                            <a href="12" class="button">情节曲折</a>
                            <a href="13" class="button">想象力丰富</a>
                            <a href="14" class="button">音乐好听</a>
                            <a href="15" class="button">寓意深刻</a>
                    </p>
                    <ul style="font-size: 16px">
                        <li>进入主题还算快，但是结尾也仓促了点，感觉应该有第二部</li>
                        <li>观赏性很好，结尾有点仓促</li>
                        <li>结尾有些仓促，过程很精彩有趣</li>
                        <li>后面结尾有点仓促。</li>
                        <li>结尾太仓促 有望讲述更多</li>
                        <li>动画效果还是很不错的，剧情铺垫很长，结尾仓促，总体来说还可以</li>
                        <li>看得泪光闪闪，情节简单，结尾仓促，有什么关系呢？能做2小时的小孩已径很满足了</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


