<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>哪吒|电影人物</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/nezha2.jpg' %}" alt="哪吒">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">哪吒之魔童降世</a>
                    <p style="font-size: 20px;">电影人物：
                                <a href="1" class="button" style="background-color: #CAFFFF">敖丙帅</a></p>
                                <a href="2" class="button">哪吒帅</a>
                    <ul style="font-size: 16px">
                        <li>再次强调，哪吒敖丙太帅了🤗</li>
                        <li>一开始难以接受这个哪吒的造型特别是眼睛，现在回想起来印象深刻，电影很好看，搞笑又有教育意义，大人小孩都适合看。敖丙不要太帅。</li>
                        <li>完美，超赞，还想看，敖丙和哪吒太帅了啊啊啊</li>
                        <li>非常好看，敖丙超帅！！！</li>
                        <li>真是年纪大了看什么都流泪，哭到控制不住《哪吒之魔童降世》个人觉得炒鸡好看强烈推荐！不论是人物形象设计还是动画细节配乐真的很喜欢，开头结尾全程无尿点，笑到不能自拔，但哭的也一塌糊涂。搞不懂豆瓣评论说难看是咋想的。还有，敖丙和哪吒好帅。</li>
                        <li>动画超级好看，哪吒好样的，希望我也能像哪吒那样活着。敖丙确实太帅了。</li>
                        <li>好神奇的配音，令人难受，敖丙还挺帅，哪吒太丑了看的难受</li>
                        <li>敖丙超帅啊啊啊</li>
                        <li>敖丙和小吒吒太帅了吧，爱了爱了，电影超赞</li>
                        <li>太好看了，又搞笑又感人，哪吒敖丙太帅了，啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊，我好想再看一遍，嘿嘿嘿</li>
                        <li>嗯，觉得特别好看，对于我来说，我觉得演的很现实吧，因为生活中就有很多那种跟风的人，他们没有自己的思想和主见，一味地盲目跟从别人，伤害别人，嗯，我很喜欢这部电影，敖丙和哪吒都很帅呀，喜欢哪吒那种霸气的性格，自己的命运掌握在自己手里，期待第二部的出现，会去支持的</li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


