<!doctype html>
<html lang="zh-cn">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>哪吒|电影人物</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        {%  load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <style>
        .button {
            background-color: #FFD2D2;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 10px;
            margin: 4px 2px;
            cursor: pointer;
        }
</style>
    </head>

    <body>

    <!-- Body -->
    <main>

        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Spirited -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1">
                    <div class="relative">
                        <img class="info-image relative z2" src="{% static 'movies/images/nezha2.jpg' %}" alt="哪吒">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <a href="index" style="font-size: 36px;font-weight:bold;color: black;">哪吒之魔童降世</a>
                    <p style="font-size: 20px;">电影人物：
                                <a href="1" class="button">敖丙帅</a></p>
                                <a href="2" class="button"  style="background-color: #CAFFFF">哪吒帅</a>
                    <ul style="font-size: 16px">
                        <li>超好看，熬丙太帅了，哪吒也很帅</li>
                        <li>笑点与泪点齐飞，太燃了，哪吒和龙太子都好帅，吹爆</li>
                        <li>好看呀，小孩样子的哪吒可爱，别扭，大人样子的哪吒帅呆了，那句  我命由我不由天  言犹在耳，和敖丙完全两个气质的cp组合很棒，笑料不断，推荐观看欧☺️</li>
                        <li>哪吒也太帅了吧  没人能帅过哪吒！</li>
                        <li>太好看了，值得23456刷，成年体哪吒太帅了，我滴天呐，敖丙美人，嗷~</li>
                        <li>巨好看好吗！！完全超出我的预期，本来是不抱希望的。有笑点也有泪点，打斗场面帅到爆炸！哪吒变身帅炸了！</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Pricing -->


        <!-- Contact -->


    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>&copy; Movies Comments Analysis</p>
        </div>
    </footer>

    </body>
</html>


